* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Spartan", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  overflow-x: hidden;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-12rem);
            transform: translateX(-12rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-12rem);
            transform: translateX(-12rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(12rem);
            transform: translateX(12rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(12rem);
            transform: translateX(12rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#carousel__images {
  background-image: url("/images/desktop-image-hero-1.jpg");
  background-size: 100% 100%;
  width: 50%;
  height: 65%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__main {
  width: 50%;
  height: 65%;
}

.content__product-1 {
  height: 35%;
  width: 30%;
}

.content__about {
  height: 35%;
  width: 40%;
}

.content__product-2 {
  height: 35%;
  width: 30%;
}

.product-image {
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 2rem;
  padding-right: 5rem;
  margin-top: -5rem;
  font-weight: 700;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  margin-top: 4rem;
}

.nav-bar__items {
  list-style: none;
  font-size: 1.3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.nav-bar__link {
  text-decoration: none;
  color: #fff;
}

.main-details {
  margin: 0 auto;
  margin-top: 8rem;
  width: 68%;
}

.main-details__title {
  font-size: 3.3rem;
  line-height: normal;
  color: #454545;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

.main-details__paragraph {
  font-size: 1.2rem;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
  color: #a1a1a1;
}

.btn {
  outline: none;
  font-size: 1.6rem;
  border: none;
  margin-top: 2rem;
  letter-spacing: 1.1rem;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn:hover {
  -webkit-transform: translateX(1.2rem);
          transform: translateX(1.2rem);
}

.carousel {
  position: relative;
}

.carousel__btn {
  background-color: black;
  padding: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  position: absolute;
}

.carousel__btn--left {
  right: -5.4rem;
  top: 27.6rem;
}

.carousel__btn--right {
  right: -10rem;
  top: 27.6rem;
}

.section-about {
  margin: 0 auto;
  margin-top: 6rem;
  width: 68%;
}

.section-about__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: normal;
  color: #454545;
  letter-spacing: 0.6rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

.section-about__paragraph {
  font-size: 1.08rem;
  color: #a1a1a1;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
}
