body {
  margin: 0;
  padding: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__header {
  background-color: orangered;
  width: 60%;
  height: 65%;
}

.content__main {
  background-color: goldenrod;
  width: 40%;
  height: 65%;
}

.content__product-1 {
  background-color: yellowgreen;
  height: 35%;
  width: 30%;
}

.content__about {
  background-color: blueviolet;
  height: 35%;
  width: 40%;
}

.content__product-2 {
  background-color: yellowgreen;
  height: 35%;
  width: 30%;
}
