.section-about {
	margin: 0 auto;
	margin-top: $margin-top-mid;
	width: $content-width;
	&__title {
		font-size: 1.1rem;
		text-transform: uppercase;
		line-height: normal;
		color: $dark-gray-2;
		letter-spacing: 0.6rem;
	}

	&__paragraph {
		font-size: 1.08rem;
		color: $dark-gray-1;
	}
}
