.btn {
	outline: none;
	font-size: 1.6rem;
	border: none;
	margin-top: 2rem;
	letter-spacing: 1.1rem;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
}

.search__icon {
	fill: aqua;
}
