.btn {
	outline: none;
	font-size: 1.6rem;
	border: none;
	margin-top: 2rem;
	letter-spacing: 1.1rem;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	animation: moveInRight 1s ease-in-out;
	padding: 1rem;
	transition: transform 0.3s;
	&:hover {
		transform: translateX(1.2rem);
	}

	// &__arrow {
	// 	fill: currentColor;
	// }
}

// .search__icon {
// 	fill: aqua;
// }

.carousel {
	position: relative;
	&__btn {
		background-color: black;
		padding: 2rem;
		cursor: pointer;
		outline: none;
		border: none;
		position: relative;
		position: absolute;
		transition: all 0.3s;
	}
	&__btn--left {
		right: -5.4rem;
		top: 27.6rem;
	}

	&__btn--right {
		right: -10rem;
		top: 27.6rem;
	}
}
