.main-details {
	margin: 0 auto;
	margin-top: $margin-top;
	width: $content-width;
	&__title {
		font-size: 3.3rem;
		line-height: normal;
		color: $dark-gray-2;
	}

	&__paragraph {
		font-size: 1.2rem;
		color: $dark-gray-1;
	}
}
